/* src/components/CicicomDashboard/CicicomDashboard.css */

.dashboard-container {
  margin-top: 60px; /* Adjust as needed */
  margin-left: 100px; /* Adjust as needed */
  padding: 20px;
  width: calc(100% - 220px); /* Adjust width based on navbar width */
  height: calc(100vh - 60px - 20px); /* Adjust height based on header height */
  overflow-y: auto; /* Add scroll if content exceeds height */
}

.dashboard-content {
  display: flex; /* Use flexbox to arrange components horizontally */
}
