/* src/components/Table/Table.css */

.table-container {
  margin-top: 60px;
  margin-left: 100px;
  padding: 20px;
  width: calc(100% - 220px);
  height: calc(100vh - 60px - 20px);
  overflow-y: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table-container th {
  background-color: #f4f4f4;
}

.table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}
