/* Map.css */
.map-container {
  margin-top: 60px;
  margin-left: 100px;
  padding: 20px;
  width: calc(100% - 220px);
  height: calc(100vh - 60px - 20px);
  overflow-y: hidden;
}

.leaflet-container {
  /* width: 80; */
  width: calc(100vh - - 20px);
  height: calc(100vh - 220px - 120px);
  /* padding-top: 60px; */
  /* margin: 80px; */
}
